In [1]:
import pandas as pd
file1 =r"C:\Users\HP\Documents\BookHERE.csv"
x=pd.read_csv(file1)
x

   S/N        STUDENT NAME  GROUP
0    6     CHINWE VICTORIA      2
1    8  EZENWAFOR LOVELINE      2
2   13    OGUNBEGDE STELLA      2
3   15    OMANUKWUEIFUNAYA      2

In [6]:
x["Gender"] = ["F","F","F","F"]
x

   S/N        STUDENT NAME  GROUP Gender
0    6     CHINWE VICTORIA      2      F
1    8  EZENWAFOR LOVELINE      2      F
2   13    OGUNBEGDE STELLA      2      F
3   15    OMANUKWUEIFUNAYA      2      F